.account {
  width: 500px;
  background-color: brown;
  border-style: solid;
  border-width: 20;
  border-color: black;
  padding: 20px;
  position: relative;
  
}

.crest {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
}
.label {
  width: 70px;
  display: inline-block;
}
