.card {
  display: flex;
  justify-content: space-between;
  background-color: #26282c;
  align-content: center;

}
.h1 {
  display: flex;
  margin-left: 1.5%;
  color: #c0c0c0;
  margin-top: 10px;
  margin-bottom: 10px;
  /* color: white;
  bottom: -5px;
  left: 20px; */
}
/* .searchTowns {
  display: flex;
  align-self: flex-end;
} */
.searchAndTimer{
  display: flex;
  flex-direction: row;
}